.info-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
  width: 100%;
  flex-wrap: wrap;
}
.block {
  border-left: 1px solid gray;
  box-sizing: border-box;
  width: 25%;
  @media (max-width: 1300px) {
    border-top: 1px solid gray;
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}
.inner-block {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.button-container {
  padding: 20px;
}

.loader {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
